<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="table.dao.ITableDao">
	<!--获取tableList  -->
	<select id="getMySqlTableList" resultType="string">
		SHOW TABLES
	</select>
	<!-- 获取表结构 -->
	<select id="getMySqlFiledList" parameterType="string" resultType="table.bean.FieldBean">
		DESC ${_parameter}
	</select>
	
	
	<!--获取tableList  -->
	<select id="getOracleTableList" resultType="string">
		select LOWER(table_name) from user_tables
	</select>
	
	
	<!-- 获取表结构 -->
	<select id="getOracleFiledList" parameterType="string" resultType="table.bean.FieldBean">
		select 
			LOWER(a.column_name) as field,
			LOWER(a.data_type) as type,
			a.data_scale,
			(select case when b.column_name is not null then 'PRI'  end from dual) as key 
		from 
			user_tab_columns a
			left join 
			(
			select a.table_name,a.column_name
			from user_cons_columns a, user_constraints b
			where a.constraint_name = b.constraint_name
			and b.constraint_type = 'P'
			and a.table_name = UPPer(#{_parameter})
			)b on a.column_name=b.column_name
			 where a.table_name =UPPer(#{_parameter})
	</select>
	
	
</mapper>