<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IADao">
    <select id="selectList" parameterType="bean.in.AInBean" resultType="bean.out.AOutBean">
		select (@i:=@i+1) rowNum,
			f_tinyint as fTinyint,
			f_smallint as fSmallint,
			f_mediumint as fMediumint,
			f_int as fInt,
			f_integer as fInteger,
			f_bigint as fBigint,
			f_double as fDouble,
			f_float as fFloat,
			f_decimal as fDecimal,
			f_numeric as fNumeric,
			f_char as fChar,
			f_varchar as fVarchar,
			f_year as fYear,
			f_tinytext as fTinytext,
			f_text as fText,
			f_longtext as fLongtext,
			isDet as isDet
		 from a, (SELECT @i:=0) as i
        <where>
            <if test="fTinyint!=null">and f_tinyint=#{fTinyint}</if>
            <if test="fSmallint!=null">and f_smallint=#{fSmallint}</if>
            <if test="fMediumint!=null">and f_mediumint=#{fMediumint}</if>
            <if test="fInt!=null">and f_int=#{fInt}</if>
            <if test="fInteger!=null">and f_integer=#{fInteger}</if>
            <if test="fBigint!=null">and f_bigint=#{fBigint}</if>
            <if test="fDouble!=null">and f_double=#{fDouble}</if>
            <if test="fFloat!=null">and f_float=#{fFloat}</if>
            <if test="fDecimal!=null">and f_decimal=#{fDecimal}</if>
            <if test="fNumeric!=null">and f_numeric=#{fNumeric}</if>
            <if test="fChar!=null">and f_char=#{fChar}</if>
            <if test="fVarchar!=null">and f_varchar=#{fVarchar}</if>
            <if test="fYear!=null">and f_year=#{fYear}</if>
            <if test="fTinytext!=null">and f_tinytext=#{fTinytext}</if>
            <if test="fText!=null">and f_text=#{fText}</if>
            <if test="fLongtext!=null">and f_longtext=#{fLongtext}</if>
            <if test="isDet!=null">and isDet=#{isDet}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
        <if test="sqlLimit==true">LIMIT #{sqlStartIndex},#{sqlPageSize}</if>
    </select>
    <select id="selectOne" parameterType="bean.in.AInBean" resultType="bean.out.AOutBean">
		 select 
			f_tinyint as fTinyint,
			f_smallint as fSmallint,
			f_mediumint as fMediumint,
			f_int as fInt,
			f_integer as fInteger,
			f_bigint as fBigint,
			f_double as fDouble,
			f_float as fFloat,
			f_decimal as fDecimal,
			f_numeric as fNumeric,
			f_char as fChar,
			f_varchar as fVarchar,
			f_year as fYear,
			f_tinytext as fTinytext,
			f_text as fText,
			f_longtext as fLongtext,
			isDet as isDet
		 from a
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.AInBean" resultType="int">
		select count(*) from a
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.ABean">
		update a
        <set>
            <if test="fSmallint==null">f_smallint=null,</if>
            <if test="fSmallint!=null">f_smallint=#{fSmallint},</if>
            <if test="fMediumint==null">f_mediumint=null,</if>
            <if test="fMediumint!=null">f_mediumint=#{fMediumint},</if>
            <if test="fInt==null">f_int=null,</if>
            <if test="fInt!=null">f_int=#{fInt},</if>
            <if test="fInteger==null">f_integer=null,</if>
            <if test="fInteger!=null">f_integer=#{fInteger},</if>
            <if test="fBigint==null">f_bigint=null,</if>
            <if test="fBigint!=null">f_bigint=#{fBigint},</if>
            <if test="fDouble==null">f_double=null,</if>
            <if test="fDouble!=null">f_double=#{fDouble},</if>
            <if test="fFloat==null">f_float=null,</if>
            <if test="fFloat!=null">f_float=#{fFloat},</if>
            <if test="fDecimal==null">f_decimal=null,</if>
            <if test="fDecimal!=null">f_decimal=#{fDecimal},</if>
            <if test="fNumeric==null">f_numeric=null,</if>
            <if test="fNumeric!=null">f_numeric=#{fNumeric},</if>
            <if test="fChar==null">f_char=null,</if>
            <if test="fChar!=null">f_char=#{fChar},</if>
            <if test="fVarchar==null">f_varchar=null,</if>
            <if test="fVarchar!=null">f_varchar=#{fVarchar},</if>
            <if test="fYear==null">f_year=null,</if>
            <if test="fYear!=null">f_year=#{fYear},</if>
            <if test="fTinytext==null">f_tinytext=null,</if>
            <if test="fTinytext!=null">f_tinytext=#{fTinytext},</if>
            <if test="fText==null">f_text=null,</if>
            <if test="fText!=null">f_text=#{fText},</if>
            <if test="fLongtext==null">f_longtext=null,</if>
            <if test="fLongtext!=null">f_longtext=#{fLongtext},</if>
            <if test="isDet==null">isDet=null,</if>
            <if test="isDet!=null">isDet=#{isDet},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.ABean">
		insert into a
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fSmallint!=null">f_smallint,</if>
            <if test="fMediumint!=null">f_mediumint,</if>
            <if test="fInt!=null">f_int,</if>
            <if test="fInteger!=null">f_integer,</if>
            <if test="fBigint!=null">f_bigint,</if>
            <if test="fDouble!=null">f_double,</if>
            <if test="fFloat!=null">f_float,</if>
            <if test="fDecimal!=null">f_decimal,</if>
            <if test="fNumeric!=null">f_numeric,</if>
            <if test="fChar!=null">f_char,</if>
            <if test="fVarchar!=null">f_varchar,</if>
            <if test="fYear!=null">f_year,</if>
            <if test="fTinytext!=null">f_tinytext,</if>
            <if test="fText!=null">f_text,</if>
            <if test="fLongtext!=null">f_longtext,</if>
            <if test="isDet!=null">isDet,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fSmallint!=null">#{fSmallint},</if>
            <if test="fMediumint!=null">#{fMediumint},</if>
            <if test="fInt!=null">#{fInt},</if>
            <if test="fInteger!=null">#{fInteger},</if>
            <if test="fBigint!=null">#{fBigint},</if>
            <if test="fDouble!=null">#{fDouble},</if>
            <if test="fFloat!=null">#{fFloat},</if>
            <if test="fDecimal!=null">#{fDecimal},</if>
            <if test="fNumeric!=null">#{fNumeric},</if>
            <if test="fChar!=null">#{fChar},</if>
            <if test="fVarchar!=null">#{fVarchar},</if>
            <if test="fYear!=null">#{fYear},</if>
            <if test="fTinytext!=null">#{fTinytext},</if>
            <if test="fText!=null">#{fText},</if>
            <if test="fLongtext!=null">#{fLongtext},</if>
            <if test="isDet!=null">#{isDet},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.ABean">
		DELETE FROM a
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.ABean">
		select 
			f_tinyint as fTinyint,
			f_smallint as fSmallint,
			f_mediumint as fMediumint,
			f_int as fInt,
			f_integer as fInteger,
			f_bigint as fBigint,
			f_double as fDouble,
			f_float as fFloat,
			f_decimal as fDecimal,
			f_numeric as fNumeric,
			f_char as fChar,
			f_varchar as fVarchar,
			f_year as fYear,
			f_tinytext as fTinytext,
			f_text as fText,
			f_longtext as fLongtext,
			isDet as isDet
			from a
        <where>f_tinyint=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.ABean">
		update a
        <set>
            <if test="f_smallint==null">f_smallint=null,</if>
            <if test="f_smallint!=null">f_smallint=#{fSmallint},</if>
            <if test="f_mediumint==null">f_mediumint=null,</if>
            <if test="f_mediumint!=null">f_mediumint=#{fMediumint},</if>
            <if test="f_int==null">f_int=null,</if>
            <if test="f_int!=null">f_int=#{fInt},</if>
            <if test="f_integer==null">f_integer=null,</if>
            <if test="f_integer!=null">f_integer=#{fInteger},</if>
            <if test="f_bigint==null">f_bigint=null,</if>
            <if test="f_bigint!=null">f_bigint=#{fBigint},</if>
            <if test="f_double==null">f_double=null,</if>
            <if test="f_double!=null">f_double=#{fDouble},</if>
            <if test="f_float==null">f_float=null,</if>
            <if test="f_float!=null">f_float=#{fFloat},</if>
            <if test="f_decimal==null">f_decimal=null,</if>
            <if test="f_decimal!=null">f_decimal=#{fDecimal},</if>
            <if test="f_numeric==null">f_numeric=null,</if>
            <if test="f_numeric!=null">f_numeric=#{fNumeric},</if>
            <if test="f_char==null">f_char=null,</if>
            <if test="f_char!=null">f_char=#{fChar},</if>
            <if test="f_varchar==null">f_varchar=null,</if>
            <if test="f_varchar!=null">f_varchar=#{fVarchar},</if>
            <if test="f_year==null">f_year=null,</if>
            <if test="f_year!=null">f_year=#{fYear},</if>
            <if test="f_tinytext==null">f_tinytext=null,</if>
            <if test="f_tinytext!=null">f_tinytext=#{fTinytext},</if>
            <if test="f_text==null">f_text=null,</if>
            <if test="f_text!=null">f_text=#{fText},</if>
            <if test="f_longtext==null">f_longtext=null,</if>
            <if test="f_longtext!=null">f_longtext=#{fLongtext},</if>
            <if test="isDet==null">isDet=null,</if>
            <if test="isDet!=null">isDet=#{isDet},</if>
        </set>
			where f_tinyint=#{_parameter}
    </update>
    <insert id="insertGetId" keyProperty="fTinyint" useGeneratedKeys="true" parameterType="bean.ABean">
		insert into a
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fSmallint!=null">f_smallint,</if>
            <if test="fMediumint!=null">f_mediumint,</if>
            <if test="fInt!=null">f_int,</if>
            <if test="fInteger!=null">f_integer,</if>
            <if test="fBigint!=null">f_bigint,</if>
            <if test="fDouble!=null">f_double,</if>
            <if test="fFloat!=null">f_float,</if>
            <if test="fDecimal!=null">f_decimal,</if>
            <if test="fNumeric!=null">f_numeric,</if>
            <if test="fChar!=null">f_char,</if>
            <if test="fVarchar!=null">f_varchar,</if>
            <if test="fYear!=null">f_year,</if>
            <if test="fTinytext!=null">f_tinytext,</if>
            <if test="fText!=null">f_text,</if>
            <if test="fLongtext!=null">f_longtext,</if>
            <if test="isDet!=null">isDet,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fSmallint!=null">#{fSmallint},</if>
            <if test="fMediumint!=null">#{fMediumint},</if>
            <if test="fInt!=null">#{fInt},</if>
            <if test="fInteger!=null">#{fInteger},</if>
            <if test="fBigint!=null">#{fBigint},</if>
            <if test="fDouble!=null">#{fDouble},</if>
            <if test="fFloat!=null">#{fFloat},</if>
            <if test="fDecimal!=null">#{fDecimal},</if>
            <if test="fNumeric!=null">#{fNumeric},</if>
            <if test="fChar!=null">#{fChar},</if>
            <if test="fVarchar!=null">#{fVarchar},</if>
            <if test="fYear!=null">#{fYear},</if>
            <if test="fTinytext!=null">#{fTinytext},</if>
            <if test="fText!=null">#{fText},</if>
            <if test="fLongtext!=null">#{fLongtext},</if>
            <if test="isDet!=null">#{isDet},</if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM a
        <if test="sqlWhere !=null">
            <where>f_tinyint=#{_parameter}</where>
        </if>
    </delete>
</mapper>
