<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IGysDao">
    <select id="selectList" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		select (@i:=@i+1) rowNum,
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3
		 from gys, (SELECT @i:=0) as i
        <where>
            <if test="id!=null">and id=#{id}</if>
            <if test="roleName!=null">and roleName=#{roleName}</if>
            <if test="note!=null">and note=#{note}</if>
            <if test="price3!=null">and price3=#{price3}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
        <if test="sqlLimit==true">LIMIT #{sqlStartIndex},#{sqlPageSize}</if>
    </select>
    <select id="selectOne" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		 select 
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3
		 from gys
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.GysInBean" resultType="int">
		select count(*) from gys
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.GysBean">
		update gys
        <set>
            <if test="roleName==null">roleName=null,</if>
            <if test="roleName!=null">roleName=#{roleName},</if>
            <if test="note==null">note=null,</if>
            <if test="note!=null">note=#{note},</if>
            <if test="price3==null">price3=null,</if>
            <if test="price3!=null">price3=#{price3},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.GysBean">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">roleName,</if>
            <if test="note!=null">note,</if>
            <if test="price3!=null">price3,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">#{roleName},</if>
            <if test="note!=null">#{note},</if>
            <if test="price3!=null">#{price3},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.GysBean">
		DELETE FROM gys
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.GysBean">
		select 
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3
			from gys
        <where>id=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.GysBean">
		update gys
        <set>
            <if test="roleName==null">roleName=null,</if>
            <if test="roleName!=null">roleName=#{roleName},</if>
            <if test="note==null">note=null,</if>
            <if test="note!=null">note=#{note},</if>
            <if test="price3==null">price3=null,</if>
            <if test="price3!=null">price3=#{price3},</if>
        </set>
			where id=#{_parameter}
    </update>
    <insert id="insertGetId" keyProperty="id" useGeneratedKeys="true" parameterType="bean.GysBean">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">roleName,</if>
            <if test="note!=null">note,</if>
            <if test="price3!=null">price3,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">#{roleName},</if>
            <if test="note!=null">#{note},</if>
            <if test="price3!=null">#{price3},</if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM gys
        <if test="sqlWhere !=null">
            <where>id=#{_parameter}</where>
        </if>
    </delete>
</mapper>
