<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IGysDao">
    <select id="selectList" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select id as id,age as age,name as name,weight as weight from gys
        <where>
            <if test="id!=null">and id=#{id}</if>
            <if test="age!=null">and age=#{age}</if>
            <if test="name!=null">and name=#{name}</if>
            <if test="weight!=null">and weight=#{weight}</if>
            <if test="sqlWhere!=null">and ${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		select id as id,age as age,name as name,weight as weight from gys
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="selectOneById" parameterType="object" resultType="bean.out.GysOutBean">
		select id as id,age as age,name as name,weight as weight from gys
        <if test="sqlWhere!=null">
            <where>id=#{_parameter}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.GysInBean" resultType="int">
		select count(*) from gys
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.in.GysInBean">
		update gys
        <set>
            <if test="age==null">age=null,</if>
            <if test="age!=null">age=#{age},</if>
            <if test="name==null">name=null,</if>
            <if test="name!=null">name=#{name},</if>
            <if test="weight==null">weight=null,</if>
            <if test="weight!=null">weight=#{weight},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <update id="updateById" parameterType="bean.in.GysInBean">
		update gys
        <set>
            <if test="age==null">age=null,</if>
            <if test="age!=null">age=#{age},</if>
            <if test="name==null">name=null,</if>
            <if test="name!=null">name=#{name},</if>
            <if test="weight==null">weight=null,</if>
            <if test="weight!=null">weight=#{weight},</if>
        </set>
			where id=#{id}
    </update>
    <insert id="insert" parameterType="bean.in.GysInBean">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
			id,
            <if test="age!=null">age,</if>
            <if test="name!=null">name,</if>
            <if test="weight!=null">weight,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{id},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="age!=null">#{age},</if>
            <if test="name!=null">#{name},</if>
            <if test="weight!=null">#{weight},</if>
        </trim>
    </insert>
    <insert id="insertGetId" parameterType="bean.in.GysInBean">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
			id,
            <if test="age!=null">age,</if>
            <if test="name!=null">name,</if>
            <if test="weight!=null">weight,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{id},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="age!=null">#{age},</if>
            <if test="name!=null">#{name},</if>
            <if test="weight!=null">#{weight},</if>
        </trim>
        <selectKey keyProperty="id" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="delete" parameterType="bean.in.GysInBean">
		DELETE FROM gys
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <delete id="deleteById" parameterType="object">
		DELETE FROM gys
        <if test="sqlWhere !=null">
            <where>id=#{_parameter}</where>
        </if>
    </delete>
</mapper>
