<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSOrgLsDao">
    <select id="selectList" parameterType="bean.in.TdSOrgLsInBean" resultType="bean.out.TdSOrgLsOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select org_name_ls as orgNameLs,org_code_ls as orgCodeLs,sort_index as sortIndex,org_level as orgLevel,super_org_code as superOrgCode from td_s_org_ls
        <where>
            <if test="orgNameLs!=null">and org_name_ls=#{orgNameLs}</if>
            <if test="orgCodeLs!=null">and org_code_ls=#{orgCodeLs}</if>
            <if test="sortIndex!=null">and sort_index=#{sortIndex}</if>
            <if test="orgLevel!=null">and org_level=#{orgLevel}</if>
            <if test="superOrgCode!=null">and super_org_code=#{superOrgCode}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSOrgLsInBean" resultType="bean.out.TdSOrgLsOutBean">
		select org_name_ls as orgNameLsorg_code_ls as orgCodeLssort_index as sortIndexorg_level as orgLevelsuper_org_code as superOrgCode from td_s_org_ls
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSOrgLsInBean" resultType="int">
		select count(*) from td_s_org_ls
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSOrgLsBean">
		update td_s_org_ls
        <set>
            <if test="orgNameLs==null">org_name_ls=null,</if>
            <if test="orgNameLs!=null">org_name_ls=#{orgNameLs},</if>
            <if test="orgCodeLs==null">org_code_ls=null,</if>
            <if test="orgCodeLs!=null">org_code_ls=#{orgCodeLs},</if>
            <if test="sortIndex==null">sort_index=null,</if>
            <if test="sortIndex!=null">sort_index=#{sortIndex},</if>
            <if test="orgLevel==null">org_level=null,</if>
            <if test="orgLevel!=null">org_level=#{orgLevel},</if>
            <if test="superOrgCode==null">super_org_code=null,</if>
            <if test="superOrgCode!=null">super_org_code=#{superOrgCode},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSOrgLsBean">
		insert into td_s_org_ls
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgNameLs!=null">org_name_ls,</if>
            <if test="orgCodeLs!=null">org_code_ls,</if>
            <if test="sortIndex!=null">sort_index,</if>
            <if test="orgLevel!=null">org_level,</if>
            <if test="superOrgCode!=null">super_org_code,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgNameLs!=null">#{orgNameLs},</if>
            <if test="orgCodeLs!=null">#{orgCodeLs},</if>
            <if test="sortIndex!=null">#{sortIndex},</if>
            <if test="orgLevel!=null">#{orgLevel},</if>
            <if test="superOrgCode!=null">#{superOrgCode},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSOrgLsBean">
		DELETE FROM td_s_org_ls
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
