<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysAdminLevelDao">
    <select id="selectList" parameterType="bean.in.TdSysAdminLevelInBean" resultType="bean.out.TdSysAdminLevelOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select remark as remark,create_date as createDate,edit_id as editId,sid as sid,create_id as createId,admin_role_id as adminRoleId,role_id as roleId,edit_date as editDate from td_sys_admin_level
        <where>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="adminRoleId!=null">and admin_role_id=#{adminRoleId}</if>
            <if test="roleId!=null">and role_id=#{roleId}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysAdminLevelInBean" resultType="bean.out.TdSysAdminLevelOutBean">
		select remark as remarkcreate_date as createDateedit_id as editIdsid as sidcreate_id as createIdadmin_role_id as adminRoleIdrole_id as roleIdedit_date as editDate from td_sys_admin_level
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysAdminLevelInBean" resultType="int">
		select count(*) from td_sys_admin_level
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysAdminLevelBean">
		update td_sys_admin_level
        <set>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="sid==null">sid=null,</if>
            <if test="sid!=null">sid=#{sid},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="adminRoleId==null">admin_role_id=null,</if>
            <if test="adminRoleId!=null">admin_role_id=#{adminRoleId},</if>
            <if test="roleId==null">role_id=null,</if>
            <if test="roleId!=null">role_id=#{roleId},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysAdminLevelBean">
		insert into td_sys_admin_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="remark!=null">remark,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="sid!=null">sid,</if>
            <if test="createId!=null">create_id,</if>
            <if test="adminRoleId!=null">admin_role_id,</if>
            <if test="roleId!=null">role_id,</if>
            <if test="editDate!=null">edit_date,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="remark!=null">#{remark},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="sid!=null">#{sid},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="adminRoleId!=null">#{adminRoleId},</if>
            <if test="roleId!=null">#{roleId},</if>
            <if test="editDate!=null">#{editDate},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysAdminLevelBean">
		DELETE FROM td_sys_admin_level
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
