<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysOrgDao">
    <select id="selectList" parameterType="bean.in.TdSysOrgInBean" resultType="bean.out.TdSysOrgOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select org_name as orgName,create_date as createDate,parent_org_code as parentOrgCode,sid as sid,post_code as postCode,county_code as countyCode,edit_date as editDate,city_code as cityCode,prov_code as provCode,edit_id as editId,order_index as orderIndex,create_id as createId,come_from as comeFrom,org_short_name as orgShortName,status as status,org_level_code as orgLevelCode from td_sys_org
        <where>
            <if test="orgName!=null">and org_name=#{orgName}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="parentOrgCode!=null">and parent_org_code=#{parentOrgCode}</if>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="postCode!=null">and post_code=#{postCode}</if>
            <if test="countyCode!=null">and county_code=#{countyCode}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="cityCode!=null">and city_code=#{cityCode}</if>
            <if test="provCode!=null">and prov_code=#{provCode}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="orderIndex!=null">and order_index=#{orderIndex}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="comeFrom!=null">and come_from=#{comeFrom}</if>
            <if test="orgShortName!=null">and org_short_name=#{orgShortName}</if>
            <if test="status!=null">and status=#{status}</if>
            <if test="orgLevelCode!=null">and org_level_code=#{orgLevelCode}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysOrgInBean" resultType="bean.out.TdSysOrgOutBean">
		select org_name as orgNamecreate_date as createDateparent_org_code as parentOrgCodesid as sidpost_code as postCodecounty_code as countyCodeedit_date as editDatecity_code as cityCodeprov_code as provCodeedit_id as editIdorder_index as orderIndexcreate_id as createIdcome_from as comeFromorg_short_name as orgShortNamestatus as statusorg_level_code as orgLevelCode from td_sys_org
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysOrgInBean" resultType="int">
		select count(*) from td_sys_org
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysOrgBean">
		update td_sys_org
        <set>
            <if test="orgName==null">org_name=null,</if>
            <if test="orgName!=null">org_name=#{orgName},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="parentOrgCode==null">parent_org_code=null,</if>
            <if test="parentOrgCode!=null">parent_org_code=#{parentOrgCode},</if>
            <if test="sid==null">sid=null,</if>
            <if test="sid!=null">sid=#{sid},</if>
            <if test="postCode==null">post_code=null,</if>
            <if test="postCode!=null">post_code=#{postCode},</if>
            <if test="countyCode==null">county_code=null,</if>
            <if test="countyCode!=null">county_code=#{countyCode},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="cityCode==null">city_code=null,</if>
            <if test="cityCode!=null">city_code=#{cityCode},</if>
            <if test="provCode==null">prov_code=null,</if>
            <if test="provCode!=null">prov_code=#{provCode},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="orderIndex==null">order_index=null,</if>
            <if test="orderIndex!=null">order_index=#{orderIndex},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="comeFrom==null">come_from=null,</if>
            <if test="comeFrom!=null">come_from=#{comeFrom},</if>
            <if test="orgShortName==null">org_short_name=null,</if>
            <if test="orgShortName!=null">org_short_name=#{orgShortName},</if>
            <if test="status==null">status=null,</if>
            <if test="status!=null">status=#{status},</if>
            <if test="orgLevelCode==null">org_level_code=null,</if>
            <if test="orgLevelCode!=null">org_level_code=#{orgLevelCode},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysOrgBean">
		insert into td_sys_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgName!=null">org_name,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="parentOrgCode!=null">parent_org_code,</if>
            <if test="sid!=null">sid,</if>
            <if test="postCode!=null">post_code,</if>
            <if test="countyCode!=null">county_code,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="cityCode!=null">city_code,</if>
            <if test="provCode!=null">prov_code,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="orderIndex!=null">order_index,</if>
            <if test="createId!=null">create_id,</if>
            <if test="comeFrom!=null">come_from,</if>
            <if test="orgShortName!=null">org_short_name,</if>
            <if test="status!=null">status,</if>
            <if test="orgLevelCode!=null">org_level_code,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgName!=null">#{orgName},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="parentOrgCode!=null">#{parentOrgCode},</if>
            <if test="sid!=null">#{sid},</if>
            <if test="postCode!=null">#{postCode},</if>
            <if test="countyCode!=null">#{countyCode},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="cityCode!=null">#{cityCode},</if>
            <if test="provCode!=null">#{provCode},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="orderIndex!=null">#{orderIndex},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="comeFrom!=null">#{comeFrom},</if>
            <if test="orgShortName!=null">#{orgShortName},</if>
            <if test="status!=null">#{status},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysOrgBean">
		DELETE FROM td_sys_org
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
