<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysRoleBoardRsDao">
    <select id="selectList" parameterType="bean.in.TdSysRoleBoardRsInBean" resultType="bean.out.TdSysRoleBoardRsOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,remark as remark,create_date as createDate,board_id as boardId,create_id as createId,sort_index as sortIndex,role_id as roleId from td_sys_role_board_rs
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="boardId!=null">and board_id=#{boardId}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="sortIndex!=null">and sort_index=#{sortIndex}</if>
            <if test="roleId!=null">and role_id=#{roleId}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysRoleBoardRsInBean" resultType="bean.out.TdSysRoleBoardRsOutBean">
		select sid as sidremark as remarkcreate_date as createDateboard_id as boardIdcreate_id as createIdsort_index as sortIndexrole_id as roleId from td_sys_role_board_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysRoleBoardRsInBean" resultType="int">
		select count(*) from td_sys_role_board_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysRoleBoardRsBean">
		update td_sys_role_board_rs
        <set>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="boardId==null">board_id=null,</if>
            <if test="boardId!=null">board_id=#{boardId},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="sortIndex==null">sort_index=null,</if>
            <if test="sortIndex!=null">sort_index=#{sortIndex},</if>
            <if test="roleId==null">role_id=null,</if>
            <if test="roleId!=null">role_id=#{roleId},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysRoleBoardRsBean">
		insert into td_sys_role_board_rs
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="remark!=null">remark,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="boardId!=null">board_id,</if>
            <if test="createId!=null">create_id,</if>
            <if test="sortIndex!=null">sort_index,</if>
            <if test="roleId!=null">role_id,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="remark!=null">#{remark},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="boardId!=null">#{boardId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="sortIndex!=null">#{sortIndex},</if>
            <if test="roleId!=null">#{roleId},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysRoleBoardRsBean">
		DELETE FROM td_sys_role_board_rs
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysRoleBoardRsBean">
		select sid as sidremark as remarkcreate_date as createDateboard_id as boardIdcreate_id as createIdsort_index as sortIndexrole_id as roleId from td_sys_role_board_rs
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysRoleBoardRsBean">
		update td_sys_role_board_rs
        <set>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="board_id==null">board_id=null,</if>
            <if test="board_id!=null">board_id=#{boardId},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="sort_index==null">sort_index=null,</if>
            <if test="sort_index!=null">sort_index=#{sortIndex},</if>
            <if test="role_id==null">role_id=null,</if>
            <if test="role_id!=null">role_id=#{roleId},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysRoleBoardRsBean">
		insert into td_sys_role_board_rs
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="remark!=null">remark,</if>
            <if test="createDate!=null">createDate,</if>
            <if test="boardId!=null">boardId,</if>
            <if test="createId!=null">createId,</if>
            <if test="sortIndex!=null">sortIndex,</if>
            <if test="roleId!=null">roleId,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="remark!=null">#{remark},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="boardId!=null">#{boardId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="sortIndex!=null">#{sortIndex},</if>
            <if test="roleId!=null">#{roleId},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_role_board_rs
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
