<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysUserDao">
    <select id="selectList" parameterType="bean.in.TdSysUserInBean" resultType="bean.out.TdSysUserOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,create_date as createDate,position as position,is_super_admin as isSuperAdmin,rember_pass as remberPass,edit_date as editDate,user_name as userName,department as department,email as email,remark as remark,edit_id as editId,user_code as userCode,create_id as createId,phone as phone,password as password,status as status,org_level_code as orgLevelCode from td_sys_user
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="position!=null">and position=#{position}</if>
            <if test="isSuperAdmin!=null">and is_super_admin=#{isSuperAdmin}</if>
            <if test="remberPass!=null">and rember_pass=#{remberPass}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="userName!=null">and user_name=#{userName}</if>
            <if test="department!=null">and department=#{department}</if>
            <if test="email!=null">and email=#{email}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="userCode!=null">and user_code=#{userCode}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="phone!=null">and phone=#{phone}</if>
            <if test="password!=null">and password=#{password}</if>
            <if test="status!=null">and status=#{status}</if>
            <if test="orgLevelCode!=null">and org_level_code=#{orgLevelCode}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysUserInBean" resultType="bean.out.TdSysUserOutBean">
		select sid as sidcreate_date as createDateposition as positionis_super_admin as isSuperAdminrember_pass as remberPassedit_date as editDateuser_name as userNamedepartment as departmentemail as emailremark as remarkedit_id as editIduser_code as userCodecreate_id as createIdphone as phonepassword as passwordstatus as statusorg_level_code as orgLevelCode from td_sys_user
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysUserInBean" resultType="int">
		select count(*) from td_sys_user
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysUserBean">
		update td_sys_user
        <set>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="position==null">position=null,</if>
            <if test="position!=null">position=#{position},</if>
            <if test="isSuperAdmin==null">is_super_admin=null,</if>
            <if test="isSuperAdmin!=null">is_super_admin=#{isSuperAdmin},</if>
            <if test="remberPass==null">rember_pass=null,</if>
            <if test="remberPass!=null">rember_pass=#{remberPass},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="userName==null">user_name=null,</if>
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="department==null">department=null,</if>
            <if test="department!=null">department=#{department},</if>
            <if test="email==null">email=null,</if>
            <if test="email!=null">email=#{email},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="userCode==null">user_code=null,</if>
            <if test="userCode!=null">user_code=#{userCode},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="phone==null">phone=null,</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="password==null">password=null,</if>
            <if test="password!=null">password=#{password},</if>
            <if test="status==null">status=null,</if>
            <if test="status!=null">status=#{status},</if>
            <if test="orgLevelCode==null">org_level_code=null,</if>
            <if test="orgLevelCode!=null">org_level_code=#{orgLevelCode},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysUserBean">
		insert into td_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">create_date,</if>
            <if test="position!=null">position,</if>
            <if test="isSuperAdmin!=null">is_super_admin,</if>
            <if test="remberPass!=null">rember_pass,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="userName!=null">user_name,</if>
            <if test="department!=null">department,</if>
            <if test="email!=null">email,</if>
            <if test="remark!=null">remark,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="userCode!=null">user_code,</if>
            <if test="createId!=null">create_id,</if>
            <if test="phone!=null">phone,</if>
            <if test="password!=null">password,</if>
            <if test="status!=null">status,</if>
            <if test="orgLevelCode!=null">org_level_code,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="position!=null">#{position},</if>
            <if test="isSuperAdmin!=null">#{isSuperAdmin},</if>
            <if test="remberPass!=null">#{remberPass},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="userName!=null">#{userName},</if>
            <if test="department!=null">#{department},</if>
            <if test="email!=null">#{email},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="userCode!=null">#{userCode},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="phone!=null">#{phone},</if>
            <if test="password!=null">#{password},</if>
            <if test="status!=null">#{status},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysUserBean">
		DELETE FROM td_sys_user
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysUserBean">
		select sid as sidcreate_date as createDateposition as positionis_super_admin as isSuperAdminrember_pass as remberPassedit_date as editDateuser_name as userNamedepartment as departmentemail as emailremark as remarkedit_id as editIduser_code as userCodecreate_id as createIdphone as phonepassword as passwordstatus as statusorg_level_code as orgLevelCode from td_sys_user
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysUserBean">
		update td_sys_user
        <set>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="position==null">position=null,</if>
            <if test="position!=null">position=#{position},</if>
            <if test="is_super_admin==null">is_super_admin=null,</if>
            <if test="is_super_admin!=null">is_super_admin=#{isSuperAdmin},</if>
            <if test="rember_pass==null">rember_pass=null,</if>
            <if test="rember_pass!=null">rember_pass=#{remberPass},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="user_name==null">user_name=null,</if>
            <if test="user_name!=null">user_name=#{userName},</if>
            <if test="department==null">department=null,</if>
            <if test="department!=null">department=#{department},</if>
            <if test="email==null">email=null,</if>
            <if test="email!=null">email=#{email},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="user_code==null">user_code=null,</if>
            <if test="user_code!=null">user_code=#{userCode},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="phone==null">phone=null,</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="password==null">password=null,</if>
            <if test="password!=null">password=#{password},</if>
            <if test="status==null">status=null,</if>
            <if test="status!=null">status=#{status},</if>
            <if test="org_level_code==null">org_level_code=null,</if>
            <if test="org_level_code!=null">org_level_code=#{orgLevelCode},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysUserBean">
		insert into td_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">createDate,</if>
            <if test="position!=null">position,</if>
            <if test="isSuperAdmin!=null">isSuperAdmin,</if>
            <if test="remberPass!=null">remberPass,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="userName!=null">userName,</if>
            <if test="department!=null">department,</if>
            <if test="email!=null">email,</if>
            <if test="remark!=null">remark,</if>
            <if test="editId!=null">editId,</if>
            <if test="userCode!=null">userCode,</if>
            <if test="createId!=null">createId,</if>
            <if test="phone!=null">phone,</if>
            <if test="password!=null">password,</if>
            <if test="status!=null">status,</if>
            <if test="orgLevelCode!=null">orgLevelCode,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="position!=null">#{position},</if>
            <if test="isSuperAdmin!=null">#{isSuperAdmin},</if>
            <if test="remberPass!=null">#{remberPass},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="userName!=null">#{userName},</if>
            <if test="department!=null">#{department},</if>
            <if test="email!=null">#{email},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="userCode!=null">#{userCode},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="phone!=null">#{phone},</if>
            <if test="password!=null">#{password},</if>
            <if test="status!=null">#{status},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_user
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
