<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysFuncDao">
    <select id="selectList" parameterType="bean.in.TdSysFuncInBean" resultType="bean.out.TdSysFuncOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,func_desc as funcDesc,remark as remark,create_date as createDate,edit_id as editId,target as target,func_code as funcCode,create_id as createId,edit_date as editDate,func_type as funcType,func_url as funcUrl,func_name as funcName from td_sys_func
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="funcDesc!=null">and func_desc=#{funcDesc}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="target!=null">and target=#{target}</if>
            <if test="funcCode!=null">and func_code=#{funcCode}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="funcType!=null">and func_type=#{funcType}</if>
            <if test="funcUrl!=null">and func_url=#{funcUrl}</if>
            <if test="funcName!=null">and func_name=#{funcName}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysFuncInBean" resultType="bean.out.TdSysFuncOutBean">
		select sid as sidfunc_desc as funcDescremark as remarkcreate_date as createDateedit_id as editIdtarget as targetfunc_code as funcCodecreate_id as createIdedit_date as editDatefunc_type as funcTypefunc_url as funcUrlfunc_name as funcName from td_sys_func
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysFuncInBean" resultType="int">
		select count(*) from td_sys_func
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysFuncBean">
		update td_sys_func
        <set>
            <if test="funcDesc==null">func_desc=null,</if>
            <if test="funcDesc!=null">func_desc=#{funcDesc},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="target==null">target=null,</if>
            <if test="target!=null">target=#{target},</if>
            <if test="funcCode==null">func_code=null,</if>
            <if test="funcCode!=null">func_code=#{funcCode},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="funcType==null">func_type=null,</if>
            <if test="funcType!=null">func_type=#{funcType},</if>
            <if test="funcUrl==null">func_url=null,</if>
            <if test="funcUrl!=null">func_url=#{funcUrl},</if>
            <if test="funcName==null">func_name=null,</if>
            <if test="funcName!=null">func_name=#{funcName},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysFuncBean">
		insert into td_sys_func
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="funcDesc!=null">func_desc,</if>
            <if test="remark!=null">remark,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="target!=null">target,</if>
            <if test="funcCode!=null">func_code,</if>
            <if test="createId!=null">create_id,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="funcType!=null">func_type,</if>
            <if test="funcUrl!=null">func_url,</if>
            <if test="funcName!=null">func_name,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="funcDesc!=null">#{funcDesc},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="target!=null">#{target},</if>
            <if test="funcCode!=null">#{funcCode},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="funcType!=null">#{funcType},</if>
            <if test="funcUrl!=null">#{funcUrl},</if>
            <if test="funcName!=null">#{funcName},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysFuncBean">
		DELETE FROM td_sys_func
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysFuncBean">
		select sid as sidfunc_desc as funcDescremark as remarkcreate_date as createDateedit_id as editIdtarget as targetfunc_code as funcCodecreate_id as createIdedit_date as editDatefunc_type as funcTypefunc_url as funcUrlfunc_name as funcName from td_sys_func
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysFuncBean">
		update td_sys_func
        <set>
            <if test="func_desc==null">func_desc=null,</if>
            <if test="func_desc!=null">func_desc=#{funcDesc},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="target==null">target=null,</if>
            <if test="target!=null">target=#{target},</if>
            <if test="func_code==null">func_code=null,</if>
            <if test="func_code!=null">func_code=#{funcCode},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="func_type==null">func_type=null,</if>
            <if test="func_type!=null">func_type=#{funcType},</if>
            <if test="func_url==null">func_url=null,</if>
            <if test="func_url!=null">func_url=#{funcUrl},</if>
            <if test="func_name==null">func_name=null,</if>
            <if test="func_name!=null">func_name=#{funcName},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysFuncBean">
		insert into td_sys_func
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="funcDesc!=null">funcDesc,</if>
            <if test="remark!=null">remark,</if>
            <if test="createDate!=null">createDate,</if>
            <if test="editId!=null">editId,</if>
            <if test="target!=null">target,</if>
            <if test="funcCode!=null">funcCode,</if>
            <if test="createId!=null">createId,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="funcType!=null">funcType,</if>
            <if test="funcUrl!=null">funcUrl,</if>
            <if test="funcName!=null">funcName,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="funcDesc!=null">#{funcDesc},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="target!=null">#{target},</if>
            <if test="funcCode!=null">#{funcCode},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="funcType!=null">#{funcType},</if>
            <if test="funcUrl!=null">#{funcUrl},</if>
            <if test="funcName!=null">#{funcName},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_func
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
