<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysUserExtConfigDao">
    <select id="selectList" parameterType="bean.in.TdSysUserExtConfigInBean" resultType="bean.out.TdSysUserExtConfigOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,user_ext_name as userExtName,create_date as createDate,from_columns as fromColumns,from_value_column as fromValueColumn,user_ext_alias as userExtAlias,edit_date as editDate,user_ext_type as userExtType,from_table as fromTable,from_table_sql as fromTableSql,remark as remark,user_ext_code as userExtCode,edit_id as editId,create_id as createId,from_key_column as fromKeyColumn from td_sys_user_ext_config
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="userExtName!=null">and user_ext_name=#{userExtName}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="fromColumns!=null">and from_columns=#{fromColumns}</if>
            <if test="fromValueColumn!=null">and from_value_column=#{fromValueColumn}</if>
            <if test="userExtAlias!=null">and user_ext_alias=#{userExtAlias}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="userExtType!=null">and user_ext_type=#{userExtType}</if>
            <if test="fromTable!=null">and from_table=#{fromTable}</if>
            <if test="fromTableSql!=null">and from_table_sql=#{fromTableSql}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="userExtCode!=null">and user_ext_code=#{userExtCode}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="fromKeyColumn!=null">and from_key_column=#{fromKeyColumn}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysUserExtConfigInBean" resultType="bean.out.TdSysUserExtConfigOutBean">
		select sid as siduser_ext_name as userExtNamecreate_date as createDatefrom_columns as fromColumnsfrom_value_column as fromValueColumnuser_ext_alias as userExtAliasedit_date as editDateuser_ext_type as userExtTypefrom_table as fromTablefrom_table_sql as fromTableSqlremark as remarkuser_ext_code as userExtCodeedit_id as editIdcreate_id as createIdfrom_key_column as fromKeyColumn from td_sys_user_ext_config
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysUserExtConfigInBean" resultType="int">
		select count(*) from td_sys_user_ext_config
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysUserExtConfigBean">
		update td_sys_user_ext_config
        <set>
            <if test="userExtName==null">user_ext_name=null,</if>
            <if test="userExtName!=null">user_ext_name=#{userExtName},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="fromColumns==null">from_columns=null,</if>
            <if test="fromColumns!=null">from_columns=#{fromColumns},</if>
            <if test="fromValueColumn==null">from_value_column=null,</if>
            <if test="fromValueColumn!=null">from_value_column=#{fromValueColumn},</if>
            <if test="userExtAlias==null">user_ext_alias=null,</if>
            <if test="userExtAlias!=null">user_ext_alias=#{userExtAlias},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="userExtType==null">user_ext_type=null,</if>
            <if test="userExtType!=null">user_ext_type=#{userExtType},</if>
            <if test="fromTable==null">from_table=null,</if>
            <if test="fromTable!=null">from_table=#{fromTable},</if>
            <if test="fromTableSql==null">from_table_sql=null,</if>
            <if test="fromTableSql!=null">from_table_sql=#{fromTableSql},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="userExtCode==null">user_ext_code=null,</if>
            <if test="userExtCode!=null">user_ext_code=#{userExtCode},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="fromKeyColumn==null">from_key_column=null,</if>
            <if test="fromKeyColumn!=null">from_key_column=#{fromKeyColumn},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysUserExtConfigBean">
		insert into td_sys_user_ext_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="userExtName!=null">user_ext_name,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="fromColumns!=null">from_columns,</if>
            <if test="fromValueColumn!=null">from_value_column,</if>
            <if test="userExtAlias!=null">user_ext_alias,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="userExtType!=null">user_ext_type,</if>
            <if test="fromTable!=null">from_table,</if>
            <if test="fromTableSql!=null">from_table_sql,</if>
            <if test="remark!=null">remark,</if>
            <if test="userExtCode!=null">user_ext_code,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="createId!=null">create_id,</if>
            <if test="fromKeyColumn!=null">from_key_column,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="userExtName!=null">#{userExtName},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="fromColumns!=null">#{fromColumns},</if>
            <if test="fromValueColumn!=null">#{fromValueColumn},</if>
            <if test="userExtAlias!=null">#{userExtAlias},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="userExtType!=null">#{userExtType},</if>
            <if test="fromTable!=null">#{fromTable},</if>
            <if test="fromTableSql!=null">#{fromTableSql},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="userExtCode!=null">#{userExtCode},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="fromKeyColumn!=null">#{fromKeyColumn},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysUserExtConfigBean">
		DELETE FROM td_sys_user_ext_config
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysUserExtConfigBean">
		select sid as siduser_ext_name as userExtNamecreate_date as createDatefrom_columns as fromColumnsfrom_value_column as fromValueColumnuser_ext_alias as userExtAliasedit_date as editDateuser_ext_type as userExtTypefrom_table as fromTablefrom_table_sql as fromTableSqlremark as remarkuser_ext_code as userExtCodeedit_id as editIdcreate_id as createIdfrom_key_column as fromKeyColumn from td_sys_user_ext_config
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysUserExtConfigBean">
		update td_sys_user_ext_config
        <set>
            <if test="user_ext_name==null">user_ext_name=null,</if>
            <if test="user_ext_name!=null">user_ext_name=#{userExtName},</if>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="from_columns==null">from_columns=null,</if>
            <if test="from_columns!=null">from_columns=#{fromColumns},</if>
            <if test="from_value_column==null">from_value_column=null,</if>
            <if test="from_value_column!=null">from_value_column=#{fromValueColumn},</if>
            <if test="user_ext_alias==null">user_ext_alias=null,</if>
            <if test="user_ext_alias!=null">user_ext_alias=#{userExtAlias},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="user_ext_type==null">user_ext_type=null,</if>
            <if test="user_ext_type!=null">user_ext_type=#{userExtType},</if>
            <if test="from_table==null">from_table=null,</if>
            <if test="from_table!=null">from_table=#{fromTable},</if>
            <if test="from_table_sql==null">from_table_sql=null,</if>
            <if test="from_table_sql!=null">from_table_sql=#{fromTableSql},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="user_ext_code==null">user_ext_code=null,</if>
            <if test="user_ext_code!=null">user_ext_code=#{userExtCode},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="from_key_column==null">from_key_column=null,</if>
            <if test="from_key_column!=null">from_key_column=#{fromKeyColumn},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysUserExtConfigBean">
		insert into td_sys_user_ext_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="userExtName!=null">userExtName,</if>
            <if test="createDate!=null">createDate,</if>
            <if test="fromColumns!=null">fromColumns,</if>
            <if test="fromValueColumn!=null">fromValueColumn,</if>
            <if test="userExtAlias!=null">userExtAlias,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="userExtType!=null">userExtType,</if>
            <if test="fromTable!=null">fromTable,</if>
            <if test="fromTableSql!=null">fromTableSql,</if>
            <if test="remark!=null">remark,</if>
            <if test="userExtCode!=null">userExtCode,</if>
            <if test="editId!=null">editId,</if>
            <if test="createId!=null">createId,</if>
            <if test="fromKeyColumn!=null">fromKeyColumn,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="userExtName!=null">#{userExtName},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="fromColumns!=null">#{fromColumns},</if>
            <if test="fromValueColumn!=null">#{fromValueColumn},</if>
            <if test="userExtAlias!=null">#{userExtAlias},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="userExtType!=null">#{userExtType},</if>
            <if test="fromTable!=null">#{fromTable},</if>
            <if test="fromTableSql!=null">#{fromTableSql},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="userExtCode!=null">#{userExtCode},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="fromKeyColumn!=null">#{fromKeyColumn},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_user_ext_config
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
