<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysRoleDao">
    <select id="selectList" parameterType="bean.in.TdSysRoleInBean" resultType="bean.out.TdSysRoleOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,create_date as createDate,role_status as roleStatus,parent_id as parentId,role_type as roleType,role_code as roleCode,edit_date as editDate,role_name as roleName,dept_id as deptId,remark as remark,edit_id as editId,create_id as createId,is_show as isShow,org_level_code as orgLevelCode from td_sys_role
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="roleStatus!=null">and role_status=#{roleStatus}</if>
            <if test="parentId!=null">and parent_id=#{parentId}</if>
            <if test="roleType!=null">and role_type=#{roleType}</if>
            <if test="roleCode!=null">and role_code=#{roleCode}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="roleName!=null">and role_name=#{roleName}</if>
            <if test="deptId!=null">and dept_id=#{deptId}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="isShow!=null">and is_show=#{isShow}</if>
            <if test="orgLevelCode!=null">and org_level_code=#{orgLevelCode}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysRoleInBean" resultType="bean.out.TdSysRoleOutBean">
		select sid as sidcreate_date as createDaterole_status as roleStatusparent_id as parentIdrole_type as roleTyperole_code as roleCodeedit_date as editDaterole_name as roleNamedept_id as deptIdremark as remarkedit_id as editIdcreate_id as createIdis_show as isShoworg_level_code as orgLevelCode from td_sys_role
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysRoleInBean" resultType="int">
		select count(*) from td_sys_role
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysRoleBean">
		update td_sys_role
        <set>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="roleStatus==null">role_status=null,</if>
            <if test="roleStatus!=null">role_status=#{roleStatus},</if>
            <if test="parentId==null">parent_id=null,</if>
            <if test="parentId!=null">parent_id=#{parentId},</if>
            <if test="roleType==null">role_type=null,</if>
            <if test="roleType!=null">role_type=#{roleType},</if>
            <if test="roleCode==null">role_code=null,</if>
            <if test="roleCode!=null">role_code=#{roleCode},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="roleName==null">role_name=null,</if>
            <if test="roleName!=null">role_name=#{roleName},</if>
            <if test="deptId==null">dept_id=null,</if>
            <if test="deptId!=null">dept_id=#{deptId},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="isShow==null">is_show=null,</if>
            <if test="isShow!=null">is_show=#{isShow},</if>
            <if test="orgLevelCode==null">org_level_code=null,</if>
            <if test="orgLevelCode!=null">org_level_code=#{orgLevelCode},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysRoleBean">
		insert into td_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">create_date,</if>
            <if test="roleStatus!=null">role_status,</if>
            <if test="parentId!=null">parent_id,</if>
            <if test="roleType!=null">role_type,</if>
            <if test="roleCode!=null">role_code,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="roleName!=null">role_name,</if>
            <if test="deptId!=null">dept_id,</if>
            <if test="remark!=null">remark,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="createId!=null">create_id,</if>
            <if test="isShow!=null">is_show,</if>
            <if test="orgLevelCode!=null">org_level_code,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="roleStatus!=null">#{roleStatus},</if>
            <if test="parentId!=null">#{parentId},</if>
            <if test="roleType!=null">#{roleType},</if>
            <if test="roleCode!=null">#{roleCode},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="roleName!=null">#{roleName},</if>
            <if test="deptId!=null">#{deptId},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="isShow!=null">#{isShow},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysRoleBean">
		DELETE FROM td_sys_role
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysRoleBean">
		select sid as sidcreate_date as createDaterole_status as roleStatusparent_id as parentIdrole_type as roleTyperole_code as roleCodeedit_date as editDaterole_name as roleNamedept_id as deptIdremark as remarkedit_id as editIdcreate_id as createIdis_show as isShoworg_level_code as orgLevelCode from td_sys_role
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysRoleBean">
		update td_sys_role
        <set>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="role_status==null">role_status=null,</if>
            <if test="role_status!=null">role_status=#{roleStatus},</if>
            <if test="parent_id==null">parent_id=null,</if>
            <if test="parent_id!=null">parent_id=#{parentId},</if>
            <if test="role_type==null">role_type=null,</if>
            <if test="role_type!=null">role_type=#{roleType},</if>
            <if test="role_code==null">role_code=null,</if>
            <if test="role_code!=null">role_code=#{roleCode},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="role_name==null">role_name=null,</if>
            <if test="role_name!=null">role_name=#{roleName},</if>
            <if test="dept_id==null">dept_id=null,</if>
            <if test="dept_id!=null">dept_id=#{deptId},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="is_show==null">is_show=null,</if>
            <if test="is_show!=null">is_show=#{isShow},</if>
            <if test="org_level_code==null">org_level_code=null,</if>
            <if test="org_level_code!=null">org_level_code=#{orgLevelCode},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysRoleBean">
		insert into td_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">createDate,</if>
            <if test="roleStatus!=null">roleStatus,</if>
            <if test="parentId!=null">parentId,</if>
            <if test="roleType!=null">roleType,</if>
            <if test="roleCode!=null">roleCode,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="roleName!=null">roleName,</if>
            <if test="deptId!=null">deptId,</if>
            <if test="remark!=null">remark,</if>
            <if test="editId!=null">editId,</if>
            <if test="createId!=null">createId,</if>
            <if test="isShow!=null">isShow,</if>
            <if test="orgLevelCode!=null">orgLevelCode,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="roleStatus!=null">#{roleStatus},</if>
            <if test="parentId!=null">#{parentId},</if>
            <if test="roleType!=null">#{roleType},</if>
            <if test="roleCode!=null">#{roleCode},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="roleName!=null">#{roleName},</if>
            <if test="deptId!=null">#{deptId},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="isShow!=null">#{isShow},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_role
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
