<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysUserExtDao">
    <select id="selectList" parameterType="bean.in.TdSysUserExtInBean" resultType="bean.out.TdSysUserExtOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,remark as remark,user_ext_id as userExtId,create_date as createDate,create_id as createId,user_id as userId,user_ext_value as userExtValue from td_sys_user_ext
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="userExtId!=null">and user_ext_id=#{userExtId}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="userId!=null">and user_id=#{userId}</if>
            <if test="userExtValue!=null">and user_ext_value=#{userExtValue}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysUserExtInBean" resultType="bean.out.TdSysUserExtOutBean">
		select sid as sidremark as remarkuser_ext_id as userExtIdcreate_date as createDatecreate_id as createIduser_id as userIduser_ext_value as userExtValue from td_sys_user_ext
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysUserExtInBean" resultType="int">
		select count(*) from td_sys_user_ext
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysUserExtBean">
		update td_sys_user_ext
        <set>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="userExtId==null">user_ext_id=null,</if>
            <if test="userExtId!=null">user_ext_id=#{userExtId},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="userId==null">user_id=null,</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="userExtValue==null">user_ext_value=null,</if>
            <if test="userExtValue!=null">user_ext_value=#{userExtValue},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysUserExtBean">
		insert into td_sys_user_ext
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="remark!=null">remark,</if>
            <if test="userExtId!=null">user_ext_id,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="createId!=null">create_id,</if>
            <if test="userId!=null">user_id,</if>
            <if test="userExtValue!=null">user_ext_value,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="remark!=null">#{remark},</if>
            <if test="userExtId!=null">#{userExtId},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="userId!=null">#{userId},</if>
            <if test="userExtValue!=null">#{userExtValue},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysUserExtBean">
		DELETE FROM td_sys_user_ext
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysUserExtBean">
		select sid as sidremark as remarkuser_ext_id as userExtIdcreate_date as createDatecreate_id as createIduser_id as userIduser_ext_value as userExtValue from td_sys_user_ext
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysUserExtBean">
		update td_sys_user_ext
        <set>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="user_ext_id==null">user_ext_id=null,</if>
            <if test="user_ext_id!=null">user_ext_id=#{userExtId},</if>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="user_id==null">user_id=null,</if>
            <if test="user_id!=null">user_id=#{userId},</if>
            <if test="user_ext_value==null">user_ext_value=null,</if>
            <if test="user_ext_value!=null">user_ext_value=#{userExtValue},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysUserExtBean">
		insert into td_sys_user_ext
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="remark!=null">remark,</if>
            <if test="userExtId!=null">userExtId,</if>
            <if test="createDate!=null">createDate,</if>
            <if test="createId!=null">createId,</if>
            <if test="userId!=null">userId,</if>
            <if test="userExtValue!=null">userExtValue,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="remark!=null">#{remark},</if>
            <if test="userExtId!=null">#{userExtId},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="userId!=null">#{userId},</if>
            <if test="userExtValue!=null">#{userExtValue},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_user_ext
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
