<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysBoardDao">
    <select id="selectList" parameterType="bean.in.TdSysBoardInBean" resultType="bean.out.TdSysBoardOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,create_date as createDate,board_name as boardName,online_time as onlineTime,edit_date as editDate,board_type as boardType,remark as remark,board_url as boardUrl,edit_id as editId,create_id as createId,board_code as boardCode,board_icon as boardIcon,board_desc as boardDesc,org_level_code as orgLevelCode from td_sys_board
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="boardName!=null">and board_name=#{boardName}</if>
            <if test="onlineTime!=null">and online_time=#{onlineTime}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="boardType!=null">and board_type=#{boardType}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="boardUrl!=null">and board_url=#{boardUrl}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="boardCode!=null">and board_code=#{boardCode}</if>
            <if test="boardIcon!=null">and board_icon=#{boardIcon}</if>
            <if test="boardDesc!=null">and board_desc=#{boardDesc}</if>
            <if test="orgLevelCode!=null">and org_level_code=#{orgLevelCode}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysBoardInBean" resultType="bean.out.TdSysBoardOutBean">
		select sid as sidcreate_date as createDateboard_name as boardNameonline_time as onlineTimeedit_date as editDateboard_type as boardTyperemark as remarkboard_url as boardUrledit_id as editIdcreate_id as createIdboard_code as boardCodeboard_icon as boardIconboard_desc as boardDescorg_level_code as orgLevelCode from td_sys_board
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysBoardInBean" resultType="int">
		select count(*) from td_sys_board
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysBoardBean">
		update td_sys_board
        <set>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="boardName==null">board_name=null,</if>
            <if test="boardName!=null">board_name=#{boardName},</if>
            <if test="onlineTime==null">online_time=null,</if>
            <if test="onlineTime!=null">online_time=#{onlineTime},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="boardType==null">board_type=null,</if>
            <if test="boardType!=null">board_type=#{boardType},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="boardUrl==null">board_url=null,</if>
            <if test="boardUrl!=null">board_url=#{boardUrl},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="boardCode==null">board_code=null,</if>
            <if test="boardCode!=null">board_code=#{boardCode},</if>
            <if test="boardIcon==null">board_icon=null,</if>
            <if test="boardIcon!=null">board_icon=#{boardIcon},</if>
            <if test="boardDesc==null">board_desc=null,</if>
            <if test="boardDesc!=null">board_desc=#{boardDesc},</if>
            <if test="orgLevelCode==null">org_level_code=null,</if>
            <if test="orgLevelCode!=null">org_level_code=#{orgLevelCode},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysBoardBean">
		insert into td_sys_board
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">create_date,</if>
            <if test="boardName!=null">board_name,</if>
            <if test="onlineTime!=null">online_time,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="boardType!=null">board_type,</if>
            <if test="remark!=null">remark,</if>
            <if test="boardUrl!=null">board_url,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="createId!=null">create_id,</if>
            <if test="boardCode!=null">board_code,</if>
            <if test="boardIcon!=null">board_icon,</if>
            <if test="boardDesc!=null">board_desc,</if>
            <if test="orgLevelCode!=null">org_level_code,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="boardName!=null">#{boardName},</if>
            <if test="onlineTime!=null">#{onlineTime},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="boardType!=null">#{boardType},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="boardUrl!=null">#{boardUrl},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="boardCode!=null">#{boardCode},</if>
            <if test="boardIcon!=null">#{boardIcon},</if>
            <if test="boardDesc!=null">#{boardDesc},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysBoardBean">
		DELETE FROM td_sys_board
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysBoardBean">
		select sid as sidcreate_date as createDateboard_name as boardNameonline_time as onlineTimeedit_date as editDateboard_type as boardTyperemark as remarkboard_url as boardUrledit_id as editIdcreate_id as createIdboard_code as boardCodeboard_icon as boardIconboard_desc as boardDescorg_level_code as orgLevelCode from td_sys_board
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysBoardBean">
		update td_sys_board
        <set>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="board_name==null">board_name=null,</if>
            <if test="board_name!=null">board_name=#{boardName},</if>
            <if test="online_time==null">online_time=null,</if>
            <if test="online_time!=null">online_time=#{onlineTime},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="board_type==null">board_type=null,</if>
            <if test="board_type!=null">board_type=#{boardType},</if>
            <if test="remark==null">remark=null,</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="board_url==null">board_url=null,</if>
            <if test="board_url!=null">board_url=#{boardUrl},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="board_code==null">board_code=null,</if>
            <if test="board_code!=null">board_code=#{boardCode},</if>
            <if test="board_icon==null">board_icon=null,</if>
            <if test="board_icon!=null">board_icon=#{boardIcon},</if>
            <if test="board_desc==null">board_desc=null,</if>
            <if test="board_desc!=null">board_desc=#{boardDesc},</if>
            <if test="org_level_code==null">org_level_code=null,</if>
            <if test="org_level_code!=null">org_level_code=#{orgLevelCode},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysBoardBean">
		insert into td_sys_board
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">createDate,</if>
            <if test="boardName!=null">boardName,</if>
            <if test="onlineTime!=null">onlineTime,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="boardType!=null">boardType,</if>
            <if test="remark!=null">remark,</if>
            <if test="boardUrl!=null">boardUrl,</if>
            <if test="editId!=null">editId,</if>
            <if test="createId!=null">createId,</if>
            <if test="boardCode!=null">boardCode,</if>
            <if test="boardIcon!=null">boardIcon,</if>
            <if test="boardDesc!=null">boardDesc,</if>
            <if test="orgLevelCode!=null">orgLevelCode,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="boardName!=null">#{boardName},</if>
            <if test="onlineTime!=null">#{onlineTime},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="boardType!=null">#{boardType},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="boardUrl!=null">#{boardUrl},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="boardCode!=null">#{boardCode},</if>
            <if test="boardIcon!=null">#{boardIcon},</if>
            <if test="boardDesc!=null">#{boardDesc},</if>
            <if test="orgLevelCode!=null">#{orgLevelCode},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_board
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
