<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdSysDirectoryDao">
    <select id="selectList" parameterType="bean.in.TdSysDirectoryInBean" resultType="bean.out.TdSysDirectoryOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select sid as sid,create_date as createDate,dict_desc as dictDesc,edit_id as editId,dict_type_name as dictTypeName,dict_value as dictValue,create_id as createId,dict_name as dictName,dict_id as dictId,edit_date as editDate,sort as sort from td_sys_directory
        <where>
            <if test="sid!=null">and sid=#{sid}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="dictDesc!=null">and dict_desc=#{dictDesc}</if>
            <if test="editId!=null">and edit_id=#{editId}</if>
            <if test="dictTypeName!=null">and dict_type_name=#{dictTypeName}</if>
            <if test="dictValue!=null">and dict_value=#{dictValue}</if>
            <if test="createId!=null">and create_id=#{createId}</if>
            <if test="dictName!=null">and dict_name=#{dictName}</if>
            <if test="dictId!=null">and dict_id=#{dictId}</if>
            <if test="editDate!=null">and edit_date=#{editDate}</if>
            <if test="sort!=null">and sort=#{sort}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdSysDirectoryInBean" resultType="bean.out.TdSysDirectoryOutBean">
		select sid as sidcreate_date as createDatedict_desc as dictDescedit_id as editIddict_type_name as dictTypeNamedict_value as dictValuecreate_id as createIddict_name as dictNamedict_id as dictIdedit_date as editDatesort as sort from td_sys_directory
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdSysDirectoryInBean" resultType="int">
		select count(*) from td_sys_directory
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdSysDirectoryBean">
		update td_sys_directory
        <set>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="dictDesc==null">dict_desc=null,</if>
            <if test="dictDesc!=null">dict_desc=#{dictDesc},</if>
            <if test="editId==null">edit_id=null,</if>
            <if test="editId!=null">edit_id=#{editId},</if>
            <if test="dictTypeName==null">dict_type_name=null,</if>
            <if test="dictTypeName!=null">dict_type_name=#{dictTypeName},</if>
            <if test="dictValue==null">dict_value=null,</if>
            <if test="dictValue!=null">dict_value=#{dictValue},</if>
            <if test="createId==null">create_id=null,</if>
            <if test="createId!=null">create_id=#{createId},</if>
            <if test="dictName==null">dict_name=null,</if>
            <if test="dictName!=null">dict_name=#{dictName},</if>
            <if test="dictId==null">dict_id=null,</if>
            <if test="dictId!=null">dict_id=#{dictId},</if>
            <if test="editDate==null">edit_date=null,</if>
            <if test="editDate!=null">edit_date=#{editDate},</if>
            <if test="sort==null">sort=null,</if>
            <if test="sort!=null">sort=#{sort},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdSysDirectoryBean">
		insert into td_sys_directory
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">create_date,</if>
            <if test="dictDesc!=null">dict_desc,</if>
            <if test="editId!=null">edit_id,</if>
            <if test="dictTypeName!=null">dict_type_name,</if>
            <if test="dictValue!=null">dict_value,</if>
            <if test="createId!=null">create_id,</if>
            <if test="dictName!=null">dict_name,</if>
            <if test="dictId!=null">dict_id,</if>
            <if test="editDate!=null">edit_date,</if>
            <if test="sort!=null">sort,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="dictDesc!=null">#{dictDesc},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="dictTypeName!=null">#{dictTypeName},</if>
            <if test="dictValue!=null">#{dictValue},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="dictName!=null">#{dictName},</if>
            <if test="dictId!=null">#{dictId},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="sort!=null">#{sort},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdSysDirectoryBean">
		DELETE FROM td_sys_directory
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
    <select id="selectOneById" parameterType="object" resultType="bean.TdSysDirectoryBean">
		select sid as sidcreate_date as createDatedict_desc as dictDescedit_id as editIddict_type_name as dictTypeNamedict_value as dictValuecreate_id as createIddict_name as dictNamedict_id as dictIdedit_date as editDatesort as sort from td_sys_directory
        <where>sid=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.in.TdSysDirectoryBean">
		update td_sys_directory
        <set>
            <if test="create_date==null">create_date=null,</if>
            <if test="create_date!=null">create_date=#{createDate},</if>
            <if test="dict_desc==null">dict_desc=null,</if>
            <if test="dict_desc!=null">dict_desc=#{dictDesc},</if>
            <if test="edit_id==null">edit_id=null,</if>
            <if test="edit_id!=null">edit_id=#{editId},</if>
            <if test="dict_type_name==null">dict_type_name=null,</if>
            <if test="dict_type_name!=null">dict_type_name=#{dictTypeName},</if>
            <if test="dict_value==null">dict_value=null,</if>
            <if test="dict_value!=null">dict_value=#{dictValue},</if>
            <if test="create_id==null">create_id=null,</if>
            <if test="create_id!=null">create_id=#{createId},</if>
            <if test="dict_name==null">dict_name=null,</if>
            <if test="dict_name!=null">dict_name=#{dictName},</if>
            <if test="dict_id==null">dict_id=null,</if>
            <if test="dict_id!=null">dict_id=#{dictId},</if>
            <if test="edit_date==null">edit_date=null,</if>
            <if test="edit_date!=null">edit_date=#{editDate},</if>
            <if test="sort==null">sort=null,</if>
            <if test="sort!=null">sort=#{sort},</if>
        </set>
			where sid=#{_parameter}
    </update>
    <insert id="insertGetId" parameterType="bean.TdSysDirectoryBean">
		insert into td_sys_directory
        <trim prefix="(" suffix=")" suffixOverrides=",">
			sid,
            <if test="createDate!=null">createDate,</if>
            <if test="dictDesc!=null">dictDesc,</if>
            <if test="editId!=null">editId,</if>
            <if test="dictTypeName!=null">dictTypeName,</if>
            <if test="dictValue!=null">dictValue,</if>
            <if test="createId!=null">createId,</if>
            <if test="dictName!=null">dictName,</if>
            <if test="dictId!=null">dictId,</if>
            <if test="editDate!=null">editDate,</if>
            <if test="sort!=null">sort,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sqlSeq==null">#{sid},</if>
            <if test="sqlSeq!=null">
				${sqlSeq}.Nextval,
			</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="dictDesc!=null">#{dictDesc},</if>
            <if test="editId!=null">#{editId},</if>
            <if test="dictTypeName!=null">#{dictTypeName},</if>
            <if test="dictValue!=null">#{dictValue},</if>
            <if test="createId!=null">#{createId},</if>
            <if test="dictName!=null">#{dictName},</if>
            <if test="dictId!=null">#{dictId},</if>
            <if test="editDate!=null">#{editDate},</if>
            <if test="sort!=null">#{sort},</if>
        </trim>
        <selectKey keyProperty="sid" order="AFTER" resultType="long">select ${sqlSeq}.Currval from dual</selectKey>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM td_sys_directory
        <if test="sqlWhere !=null">
            <where>sid=#{_parameter}</where>
        </if>
    </delete>
</mapper>
