<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdTvcmTeplDimMemberRsDao">
    <select id="selectList" parameterType="bean.in.TdTvcmTeplDimMemberRsInBean" resultType="bean.out.TdTvcmTeplDimMemberRsOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select member_name as memberName,member_values as memberValues,tepl_id as teplId,dim_id as dimId from td_tvcm_tepl_dim_member_rs
        <where>
            <if test="memberName!=null">and member_name=#{memberName}</if>
            <if test="memberValues!=null">and member_values=#{memberValues}</if>
            <if test="teplId!=null">and tepl_id=#{teplId}</if>
            <if test="dimId!=null">and dim_id=#{dimId}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdTvcmTeplDimMemberRsInBean" resultType="bean.out.TdTvcmTeplDimMemberRsOutBean">
		select member_name as memberNamemember_values as memberValuestepl_id as teplIddim_id as dimId from td_tvcm_tepl_dim_member_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdTvcmTeplDimMemberRsInBean" resultType="int">
		select count(*) from td_tvcm_tepl_dim_member_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdTvcmTeplDimMemberRsBean">
		update td_tvcm_tepl_dim_member_rs
        <set>
            <if test="memberName==null">member_name=null,</if>
            <if test="memberName!=null">member_name=#{memberName},</if>
            <if test="memberValues==null">member_values=null,</if>
            <if test="memberValues!=null">member_values=#{memberValues},</if>
            <if test="teplId==null">tepl_id=null,</if>
            <if test="teplId!=null">tepl_id=#{teplId},</if>
            <if test="dimId==null">dim_id=null,</if>
            <if test="dimId!=null">dim_id=#{dimId},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdTvcmTeplDimMemberRsBean">
		insert into td_tvcm_tepl_dim_member_rs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberName!=null">member_name,</if>
            <if test="memberValues!=null">member_values,</if>
            <if test="teplId!=null">tepl_id,</if>
            <if test="dimId!=null">dim_id,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberName!=null">#{memberName},</if>
            <if test="memberValues!=null">#{memberValues},</if>
            <if test="teplId!=null">#{teplId},</if>
            <if test="dimId!=null">#{dimId},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdTvcmTeplDimMemberRsBean">
		DELETE FROM td_tvcm_tepl_dim_member_rs
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
