<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdTvcmIndexInfoDao">
    <select id="selectList" parameterType="bean.in.TdTvcmIndexInfoInBean" resultType="bean.out.TdTvcmIndexInfoOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select idx_id as idxId,create_time as createTime,idx_desc as idxDesc,board_id as boardId,create_user as createUser,org_lvl_name as orgLvlName,target_date as targetDate,org_lvl_code as orgLvlCode,idx_name as idxName from td_tvcm_index_info
        <where>
            <if test="idxId!=null">and idx_id=#{idxId}</if>
            <if test="createTime!=null">and create_time=#{createTime}</if>
            <if test="idxDesc!=null">and idx_desc=#{idxDesc}</if>
            <if test="boardId!=null">and board_id=#{boardId}</if>
            <if test="createUser!=null">and create_user=#{createUser}</if>
            <if test="orgLvlName!=null">and org_lvl_name=#{orgLvlName}</if>
            <if test="targetDate!=null">and target_date=#{targetDate}</if>
            <if test="orgLvlCode!=null">and org_lvl_code=#{orgLvlCode}</if>
            <if test="idxName!=null">and idx_name=#{idxName}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdTvcmIndexInfoInBean" resultType="bean.out.TdTvcmIndexInfoOutBean">
		select idx_id as idxIdcreate_time as createTimeidx_desc as idxDescboard_id as boardIdcreate_user as createUserorg_lvl_name as orgLvlNametarget_date as targetDateorg_lvl_code as orgLvlCodeidx_name as idxName from td_tvcm_index_info
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdTvcmIndexInfoInBean" resultType="int">
		select count(*) from td_tvcm_index_info
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdTvcmIndexInfoBean">
		update td_tvcm_index_info
        <set>
            <if test="idxId==null">idx_id=null,</if>
            <if test="idxId!=null">idx_id=#{idxId},</if>
            <if test="createTime==null">create_time=null,</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="idxDesc==null">idx_desc=null,</if>
            <if test="idxDesc!=null">idx_desc=#{idxDesc},</if>
            <if test="boardId==null">board_id=null,</if>
            <if test="boardId!=null">board_id=#{boardId},</if>
            <if test="createUser==null">create_user=null,</if>
            <if test="createUser!=null">create_user=#{createUser},</if>
            <if test="orgLvlName==null">org_lvl_name=null,</if>
            <if test="orgLvlName!=null">org_lvl_name=#{orgLvlName},</if>
            <if test="targetDate==null">target_date=null,</if>
            <if test="targetDate!=null">target_date=#{targetDate},</if>
            <if test="orgLvlCode==null">org_lvl_code=null,</if>
            <if test="orgLvlCode!=null">org_lvl_code=#{orgLvlCode},</if>
            <if test="idxName==null">idx_name=null,</if>
            <if test="idxName!=null">idx_name=#{idxName},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdTvcmIndexInfoBean">
		insert into td_tvcm_index_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idxId!=null">idx_id,</if>
            <if test="createTime!=null">create_time,</if>
            <if test="idxDesc!=null">idx_desc,</if>
            <if test="boardId!=null">board_id,</if>
            <if test="createUser!=null">create_user,</if>
            <if test="orgLvlName!=null">org_lvl_name,</if>
            <if test="targetDate!=null">target_date,</if>
            <if test="orgLvlCode!=null">org_lvl_code,</if>
            <if test="idxName!=null">idx_name,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idxId!=null">#{idxId},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="idxDesc!=null">#{idxDesc},</if>
            <if test="boardId!=null">#{boardId},</if>
            <if test="createUser!=null">#{createUser},</if>
            <if test="orgLvlName!=null">#{orgLvlName},</if>
            <if test="targetDate!=null">#{targetDate},</if>
            <if test="orgLvlCode!=null">#{orgLvlCode},</if>
            <if test="idxName!=null">#{idxName},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdTvcmIndexInfoBean">
		DELETE FROM td_tvcm_index_info
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
