<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdTvcmTemplateInfoDao">
    <select id="selectList" parameterType="bean.in.TdTvcmTemplateInfoInBean" resultType="bean.out.TdTvcmTemplateInfoOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select create_user as createUser,tepl_name as teplName,create_time as createTime,dim_json as dimJson,tepl_id as teplId from td_tvcm_template_info
        <where>
            <if test="createUser!=null">and create_user=#{createUser}</if>
            <if test="teplName!=null">and tepl_name=#{teplName}</if>
            <if test="createTime!=null">and create_time=#{createTime}</if>
            <if test="dimJson!=null">and dim_json=#{dimJson}</if>
            <if test="teplId!=null">and tepl_id=#{teplId}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdTvcmTemplateInfoInBean" resultType="bean.out.TdTvcmTemplateInfoOutBean">
		select create_user as createUsertepl_name as teplNamecreate_time as createTimedim_json as dimJsontepl_id as teplId from td_tvcm_template_info
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdTvcmTemplateInfoInBean" resultType="int">
		select count(*) from td_tvcm_template_info
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdTvcmTemplateInfoBean">
		update td_tvcm_template_info
        <set>
            <if test="createUser==null">create_user=null,</if>
            <if test="createUser!=null">create_user=#{createUser},</if>
            <if test="teplName==null">tepl_name=null,</if>
            <if test="teplName!=null">tepl_name=#{teplName},</if>
            <if test="createTime==null">create_time=null,</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="dimJson==null">dim_json=null,</if>
            <if test="dimJson!=null">dim_json=#{dimJson},</if>
            <if test="teplId==null">tepl_id=null,</if>
            <if test="teplId!=null">tepl_id=#{teplId},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdTvcmTemplateInfoBean">
		insert into td_tvcm_template_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createUser!=null">create_user,</if>
            <if test="teplName!=null">tepl_name,</if>
            <if test="createTime!=null">create_time,</if>
            <if test="dimJson!=null">dim_json,</if>
            <if test="teplId!=null">tepl_id,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createUser!=null">#{createUser},</if>
            <if test="teplName!=null">#{teplName},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="dimJson!=null">#{dimJson},</if>
            <if test="teplId!=null">#{teplId},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdTvcmTemplateInfoBean">
		DELETE FROM td_tvcm_template_info
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
