<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITdTvcmIdxTeplRsDao">
    <select id="selectList" parameterType="bean.in.TdTvcmIdxTeplRsInBean" resultType="bean.out.TdTvcmIdxTeplRsOutBean">
		
        <if test="sqlLimit==true">
			select * from (
		</if>
		 select A.*,  rowNum from (
		 	select idx_id as idxId,create_date as createDate,idx_tepl_id as idxTeplId,data_table as dataTable,update_flag as updateFlag,valid_flag as validFlag,page_id as pageId,create_user as createUser,page_name as pageName,tepl_id as teplId,idx_name as idxName from td_tvcm_idx_tepl_rs
        <where>
            <if test="idxId!=null">and idx_id=#{idxId}</if>
            <if test="createDate!=null">and create_date=#{createDate}</if>
            <if test="idxTeplId!=null">and idx_tepl_id=#{idxTeplId}</if>
            <if test="dataTable!=null">and data_table=#{dataTable}</if>
            <if test="updateFlag!=null">and update_flag=#{updateFlag}</if>
            <if test="validFlag!=null">and valid_flag=#{validFlag}</if>
            <if test="pageId!=null">and page_id=#{pageId}</if>
            <if test="createUser!=null">and create_user=#{createUser}</if>
            <if test="pageName!=null">and page_name=#{pageName}</if>
            <if test="teplId!=null">and tepl_id=#{teplId}</if>
            <if test="idxName!=null">and idx_name=#{idxName}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
			) A
        <if test="sqlLimit==true">
		where rowNum &lt;= #{sqlEndIndex}+1 
		) where rowNum &gt;=#{sqlStartIndex}+1 
		</if>
    </select>
    <select id="selectOne" parameterType="bean.in.TdTvcmIdxTeplRsInBean" resultType="bean.out.TdTvcmIdxTeplRsOutBean">
		select idx_id as idxIdcreate_date as createDateidx_tepl_id as idxTeplIddata_table as dataTableupdate_flag as updateFlagvalid_flag as validFlagpage_id as pageIdcreate_user as createUserpage_name as pageNametepl_id as teplIdidx_name as idxName from td_tvcm_idx_tepl_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <select id="getCount" parameterType="bean.in.TdTvcmIdxTeplRsInBean" resultType="int">
		select count(*) from td_tvcm_idx_tepl_rs
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </select>
    <update id="update" parameterType="bean.TdTvcmIdxTeplRsBean">
		update td_tvcm_idx_tepl_rs
        <set>
            <if test="idxId==null">idx_id=null,</if>
            <if test="idxId!=null">idx_id=#{idxId},</if>
            <if test="createDate==null">create_date=null,</if>
            <if test="createDate!=null">create_date=#{createDate},</if>
            <if test="idxTeplId==null">idx_tepl_id=null,</if>
            <if test="idxTeplId!=null">idx_tepl_id=#{idxTeplId},</if>
            <if test="dataTable==null">data_table=null,</if>
            <if test="dataTable!=null">data_table=#{dataTable},</if>
            <if test="updateFlag==null">update_flag=null,</if>
            <if test="updateFlag!=null">update_flag=#{updateFlag},</if>
            <if test="validFlag==null">valid_flag=null,</if>
            <if test="validFlag!=null">valid_flag=#{validFlag},</if>
            <if test="pageId==null">page_id=null,</if>
            <if test="pageId!=null">page_id=#{pageId},</if>
            <if test="createUser==null">create_user=null,</if>
            <if test="createUser!=null">create_user=#{createUser},</if>
            <if test="pageName==null">page_name=null,</if>
            <if test="pageName!=null">page_name=#{pageName},</if>
            <if test="teplId==null">tepl_id=null,</if>
            <if test="teplId!=null">tepl_id=#{teplId},</if>
            <if test="idxName==null">idx_name=null,</if>
            <if test="idxName!=null">idx_name=#{idxName},</if>
        </set>
        <if test="sqlWhere!=null">
            <where>${sqlWhere}</where>
        </if>
    </update>
    <insert id="insert" parameterType="bean.TdTvcmIdxTeplRsBean">
		insert into td_tvcm_idx_tepl_rs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idxId!=null">idx_id,</if>
            <if test="createDate!=null">create_date,</if>
            <if test="idxTeplId!=null">idx_tepl_id,</if>
            <if test="dataTable!=null">data_table,</if>
            <if test="updateFlag!=null">update_flag,</if>
            <if test="validFlag!=null">valid_flag,</if>
            <if test="pageId!=null">page_id,</if>
            <if test="createUser!=null">create_user,</if>
            <if test="pageName!=null">page_name,</if>
            <if test="teplId!=null">tepl_id,</if>
            <if test="idxName!=null">idx_name,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idxId!=null">#{idxId},</if>
            <if test="createDate!=null">#{createDate},</if>
            <if test="idxTeplId!=null">#{idxTeplId},</if>
            <if test="dataTable!=null">#{dataTable},</if>
            <if test="updateFlag!=null">#{updateFlag},</if>
            <if test="validFlag!=null">#{validFlag},</if>
            <if test="pageId!=null">#{pageId},</if>
            <if test="createUser!=null">#{createUser},</if>
            <if test="pageName!=null">#{pageName},</if>
            <if test="teplId!=null">#{teplId},</if>
            <if test="idxName!=null">#{idxName},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.TdTvcmIdxTeplRsBean">
		DELETE FROM td_tvcm_idx_tepl_rs
        <if test="sqlWhere !=null">
            <where>${sqlWhere}</where>
        </if>
    </delete>
</mapper>
