<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IUserDao">
    <select id="selectList" parameterType="bean.User" resultType="bean.User">
		select userId,userName,age from 
        <where>${where}</where>
        <if test="orderBy!=null">order by ${orderBy}</if>
        <if test="limit==true">LIMIT #{pageStart},#{pageSize}</if>
    </select>
    <select id="selectOne" parameterType="bean.User" resultType="bean.User">
		select userId,userName,age from 
        <where>${where}</where>
    </select>
    <select id="count" parameterType="bean.User" resultType="int">
		select count(*) from 
        <where>${where}</where>
    </select>
    <update id="update" parameterType="bean.User">
		update 
        <if test="set==null">
            <set>
			userId=#{userId},
			userName=#{userName},
			age=#{age},</set>
        </if>
        <if test="set!=null">
            <set>${set}</set>
        </if>
        <where>${where}</where>
    </update>
    <insert id="insert" parameterType="bean.User">
		insert 
		(userId,userName,age)
		 values
		(#{userId},#{userName},#{age})	</insert>
    <insert id="insertGetId" keyProperty="userId" useGeneratedKeys="true" parameterType="bean.User">
		insert 
		(userId,userName,age)
		 values
		(#{userId},#{userName},#{age})	</insert>
    <delete id="delete" parameterType="bean.User">
		DELETE FROM 
        <where>${where}</where>
    </delete>
    <delete id="deleteById" parameterType="object">
		DELETE FROM 
        <where>userId=#{userId}</where>
    </delete>
</mapper>
